# .gitlab-ci.yml

stages:
  - build
  - deploy

# Cache node_modules to speed up builds
cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - frontend/node_modules/

# Build frontend
build_frontend:
  stage: build
  image: node:20
  script:
    - cd frontend
    - npm ci
    - npx update-browserslist-db@latest --update-db # optional, removes warning
    - npm run build
    - mv dist ../public
  artifacts:
    paths:
      - public
    expire_in: 1 week
  only:
    - main

# Deploy to GitLab Pages
pages:
  stage: deploy
  dependencies:
    - build_frontend
  script:
    - mkdir .public
    - cp -r public/* .public/
  artifacts:
    paths:
      - .public
  only:
    - main
